a{
	text-decoration: none;
}
.manu{
	float: left;
	width: 500px;
	text-align: right;
	margin-top: 20px;

}
.manu a{
	color: red;
	padding: 15px;
	font-size: 24px;
}
.banner-img{
	background-image: url(30.jfif);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 200px;
}